$starSize: 50;
$starSizeSmall: 30;
$starSizeTiny: 18;

.end {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .all-scores-container {
    .score-content {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .left-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 15px 0;

        .time {
          font-family: Nunito;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 41px;
        }

        .stars-container {
          display: flex;
          flex-direction: row;
          width: $starSizeSmall * 5 + px;

          .star-small {
            width: $starSizeSmall + px;
            height: $starSizeSmall + px;
          }
        }

        .emoji-rating {
          margin-top: 8px;

          font-family: Nunito;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 30px;
        }
      }

      .right-col {
        display: flex;
        flex-direction: column;
        margin: auto auto auto 50px;

        // dish image
        img {
          width: 100px;
          height: 100px;
        }

        button {
          margin-top: 20px;
        }
      }
    }
  }

  .overall-outer-right-col {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    .overall-top-container {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      .overall-score-content {
        display: flex;
        flex-direction: row;

        .overall-left-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .overall-your-score {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 48px;
          }

          .overall-time {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 60px;
            line-height: 82px;
          }

          .overall-stars-container {
            display: flex;
            flex-direction: row;
            width: $starSize * 5 + px;

            .star-big {
              width: $starSize + px;
              height: $starSize + px;
            }
          }

          .overall-emoji-rating {
            margin-top: 15px;

            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 41px;
          }
        }

        .right-col {
          display: flex;
          flex-direction: column;
          margin: auto auto auto 50px;

          // dish image
          img {
            width: 100px;
            height: 100px;
          }

          button {
            margin-top: 20px;
          }
        }
      }

      .overall-best-score-content {
        display: flex;
        flex-direction: row;

        .overall-best-left-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 20px;

          .overall-best-your-score {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }

          .overall-best-time {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
          }

          .overall-best-stars-container {
            display: flex;
            flex-direction: row;
            width: $starSizeTiny * 5 + px;

            .star-tiny {
              width: $starSizeTiny + px;
              height: $starSizeTiny + px;
            }
          }

          .overall-best-emoji-rating {
            margin-top: 5px;

            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }
        }

        .right-col {
          display: flex;
          flex-direction: column;
          margin: auto auto auto 50px;

          // dish image
          img {
            width: 100px;
            height: 100px;
          }

          button {
            margin-top: 20px;
          }
        }
      }

      //.overall-best-score {
      //  margin-left: 20px;
      //}
    }

    img {

    }

    button {

    }

  }
}
